body {
  margin: 0;
  min-width: 375px;
}

* {
  box-sizing: border-box;
}

.header {
  height: 60px;
  width: 100%;
  background: white;

  border-bottom: 1px solid #eee;
  transition: left 0.3s;

  i,
  a {
    line-height: 60px;
  }

  .right {
    right: 16px;
    position: absolute;
  }

  .iconfont {
    display: none;
  }

  .link {
    display: inline-block;
    color: #666;
    text-decoration: none;
    font-weight: 300;
    margin-left: 16px;
    font-size: 14px
  }

  .left {
    left: 16px;
    position: absolute;



    a {
      font-weight: bold;
      text-decoration: none;
      // line-height: 50px;
      font-family: fantasy;
      color: #333;
      font-size: 24px;
      margin-left: 16px;
    }

  }

}

.banner {
  height: 400px;
  padding: 16px;
  padding-bottom: 0;
  background-image: url(/static/img/mk.jpeg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-clip: content-box;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 40px;
    color: white;
  }

}

.contents {
  width: 300px;

  .item {
    font-size: 14px;
    color: #5e6d82;
    font-weight: 300;
    user-select: none;

    .name,
    .link {
      cursor: pointer;
      padding: 3px 0;
      position: relative;

      display: flex;
      align-items: center;

      .iconfont {
        margin-right: 6px;
        color: #5e6d82
      }

      span {
        z-index: -1;
      }

      a {
        text-decoration: none;
        color: #5e6d82;
        display: block;
        width: 96%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .link:hover {
      background: #eee;
    }

    .children {
      display: none;

      &.open {
        display: block;

        .item {
          padding: 0 8px;
          border-left: 1px solid #ddd;
          margin-left: 8px;
        }
      }
    }
  }
}

.search {
  position: relative;

  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #dedede;
    outline: none;
    color: #888;
    padding: 0 8px;
    height: 34px;
    position: relative;
    z-index: 6;
    border-radius: 0;

    &:focus {
      border: 1px solid #39f;
    }

    &:focus~.result {
      max-height: 200px;
      top: 40px;
    }
  }

  .result {
    width: 100%;
    position: absolute;
    top: 30px;
    z-index: 4;
    background: white;
    border: 1px solid #dedede;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 0;
    transition: max-height 0.3s, top 0.2s 0.1s;

    a {
      display: block;
      width: 100%;
      padding: 6px 8px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-decoration: none;
      color: #888;
      font-size: 13px;

      b {
        color: #39f
      }
    }

    & {}
  }
}



.main {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto 0;
  align-items: flex-start;
}

.copyall {
  flex: 200px 0 0;
  height: 1px;
  display: none;
}

.fix~.copyall {
  display: block
}

.search-and-menu {
  padding: 16px;
}

.lasts {
  padding: 16px;

  .item {
    padding: 16px;
    display: block;
    font-size: 14px;
    color: #5e6d82;
    font-weight: 300;
    user-select: none;
    text-decoration: none;
    margin-bottom: 16px;
    border: 1px solid #efefef;
    border-radius: 8px;
  }

  .time {
    font-size: 14px;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #5e6d82
  }
}

.root {
  border-left: 1px solid transparent;
}



.h5 {
  display: none
}


@media (max-width: 765px) {
  body {
    background: #f3f3f3;

  }



  .search-and-menu {
    width: 100%;
    border-radius: 4px;
    padding: 16px;

    .search {
      width: 90vw;
      margin: 12px auto;

    }
  }

  .lasts {
    padding: 16px 0
  }

  .main {
    padding: 0 8px;
    flex-wrap: wrap-reverse;
  }

  .banner {
    height: 200px;
    margin-top: 50px;
  }

  .lasts {
    .item {
      background: white;
      padding: 16px;
      border-radius: 4px;

      a {
        color: #333;
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
      }

      p {
        letter-spacing: 0.5px;
      }

    }
  }

  .header {
    height: 50px;
    width: 100%;
    background: white;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    border-bottom: 1px solid #eee;
    transition: left 0.3s;

    i,
    a {
      line-height: 50px;
    }

    .right {
      right: 16px;
      position: absolute;
    }

    .iconfont {
      display: inline-block;
    }

    .left {
      left: 16px;
      position: absolute;



      a {
        font-weight: bold;
        text-decoration: none;
        // line-height: 50px;
        font-family: fantasy;
        color: #333;
        font-size: 16px;
        margin-left: 16px;
      }

    }

  }


}