body {
  margin: 0;
}

html {
  // scroll-behavior: smooth;

}



.main {
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  padding: 0 16px;

  .content {
    margin-right: 200px;
  }

  .toc {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
  }
}

.fm {
  margin-top: 100px;

  p {
    margin: 0;
    font-size: 12px;

    span:first-child {
      display: inline-block;
      width: 80px;
    }
  }
}

.top {
  position: fixed;
  right: 100px;
  bottom: 100px;
  font-size: 12px;

  a {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    border-radius: 50%;

    &:first-child {
      background: rgb(79, 131, 2);
    }

    &:last-child {
      background: rgb(48, 163, 230);
      margin-top: 14px;
    }
  }
}

#toc {
  width: 200px;
  display: none;

  &.active {
    display: block
  }


  li {
    list-style: none;
    padding: 0 16px;
    width: 0;


    a {
      color: #5e6d82;
      width: 200px;
      display: inline-block;
    }

    transition: width 0.1s;
  }

  li.active {
    background: #f0f0f0;
    border-left: 2px solid #009a61;
    width: 200px;

    a {
      color: #009a61;
    }

  }

  position: fixed;
}

@media (max-width: 1024px) {
  .content {
    margin-right: 0 !important;
  }

  .toc {
    display: none;
  }
}