script
    != 'window._SEARCH_DATA = ' + JSON.stringify(search)
.search
    input(placeholder='搜搜文章')
    .result
script.
   const searchBox = document.querySelector('.search')
   const result = searchBox.querySelector('.result')
   const input = searchBox.querySelector('input')
   input.addEventListener('input', e => {
      let v = e.target.value
      result.innerHTML = getHtml(v)
   })
   result.innerHTML = getHtml()
   function getHtml(v = '') {
       let html = ''
      _SEARCH_DATA.forEach(item => {
        if(item.title.includes(v) || v ==='') {
          html += `<a href='${item.url}' target='_blank'>${item.title.replace(new RegExp(v, 'g'), `<b>${v}</b>`)}</a>`
        }
      })
      return html
   }
   result.addEventListener('click', ()=>{input.focus()})