extends ../components/layout.pug
include ../components/table-of-content.pug 
include ../components/last-article.pug 

block css
  link(rel="stylesheet", href="//at.alicdn.com/t/font_1197539_vgn2vpugpwq.css")
  link(rel="stylesheet", href="/static/css/docs.css")
block body
    include ../components/header.pug
    .banner
    .main
      .lasts
        +lasts(last)
      .search-and-menu
        include ../components/search.pug
        +tableOfContent(tree, true)