extends ../components/layout.pug

block css
  link(rel="stylesheet", href="/static/css/home.css")
block body
  .home
      .des
        .name MeiHuan`s Blog
        .menu
          each item in navbar
            a(href=item.url target= item.blank ? '_blank': '' class='link') #{item.name}
