<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title It`s me
    link(rel="stylesheet", href="/static/css/home.css")
  body
    .home
      .des
        .name MeiHuan`s Blog
        .menu
          each item in navbar
            a(href=item.url target= item.blank ? '_blank': '' class='link') #{item.name}
